img 
{
	display: block;
	margin: auto;
    max-width: 100%;
}

/* Textured background from http://lea.verou.me/css3patterns/#carbon-fibre */
body
{
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
	color: #565656;
	font-family: Arial;
}

.wrap
{ 
	max-width: 500px;
	margin: 50px auto;
	padding: 30px;
	text-align: center;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	border-radius: 50px;
	background-color: #D7CEC7;
}

h1, h2, h3
{
	color: #76323F;
}

article 
{
	text-align: center;
	padding: 40px;
}

/* button styling from https://www.w3schools.com/css/css3_buttons.asp */
.button
{
	background-color: #C09F80;
    border: none;
    color: #565656;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 10px;
	outline:none;
}

.button:hover
{
	color: white;
	background-color: #4CAF50;
}

/* radio button styling from http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/ */
input[type=radio   ]:not(old){
	width   : 28px;
	margin  : 0;
	padding : 0;
	opacity : 0;
}

input[type=radio   ]:not(old) + label{
	display      : inline-block;
	margin-left  : -28px;
	padding-left : 28px;
	background   : url('checks.png') no-repeat 0 0;
	line-height  : 24px;
}

input[type=radio]:not(old):checked + label{
	background-position : 0 -48px;
}

input[type="file"] {
	display: block;
	margin: auto;
	text-align: left;
	max-width: 75%;
}

